<div class="container mt-4">
  <h2 class="add-header">Add Medicine</h2>
  <form [formGroup]="addForm" (ngSubmit)="addMedicine()">
    <div class="mb-3">
      <label for="name" class="form-label">Medicine Name</label>
      <input type="text" id="name" class="form-control" formControlName="name" required />
    </div>
    <div class="mb-3">
      <label for="manufacturer" class="form-label">Manufacturer</label>
      <input type="text" id="manufacturer" class="form-control" formControlName="manufacturer" required />
    </div>
    <div class="mb-3">
      <label for="price" class="form-label">Price</label>
      <input type="number" id="price" class="form-control" formControlName="price" required />
    </div>
    <div class="mb-3">
      <label for="expiryDate" class="form-label">Expiry Date</label>
      <input type="date" id="expiryDate" class="form-control" formControlName="expiryDate" required />
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="addForm.invalid">Add Medicine</button>
  </form>
</div>